{% if path[3] != nil %}
<div class="board"><div class="boardtitle">Comments and Reactions</div>
    <div style="padding: 10px 10px 5px 10px;">
        <script src="https://giscus.app/client.js"
            data-repo="kodingwindow/kodingwindow.github.io"
            data-repo-id="R_kgDONkepyw"
            data-category="General"
            data-category-id="DIC_kwDONkepy84CmVAw"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="{{ ctheme }}"
            data-lang="en"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</div>
{% endif %}