{%- if path[3] != nil -%}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="staticBackdropLabel"><i class="bi bi-clipboard-heart"></i> Thank You</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body">Dear User, <br>Thank you for visitng KodingWindow. If you are interested in technical articles, latest technologies, and our journey further, please follow us on LinkedIn.<br><br><div>Regards,<br><a href="shubhamrdarda" class="hlink">{{ site.founder }}</a><br>Founder and Architect</div></div>
            <div class="modal-footer justify-content-center">
                <a href="{{ site.data.url.linkedin }}" class="btn" title="LinkedIn" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}

{%- if path[1] == "about" and path[2] == nil -%}{%- assign about_section = "about_home_true" -%}
{%- elsif path[1] == "about" and path[2] != nil -%}{%- assign about_section = "about_home_false" -%}{%- endif -%}
<div id="app" class="container {{ about_section }}" style="display: none;">
    <div class="board"><div class="boardtitle"><i class="bi bi-info-circle"></i> About</div>
        <a class="card" href="about/faqs">Frequently Asked Questions</a>
        <a class="card" href="about/reports">Analytics Reports</a>
        <a class="card" href="about/terms">Terms of Use</a>
        <a class="card" href="about/privacy">Privacy Policy</a>
        <a class="card" href="about/disclaimer">Disclaimer</a>
        <a class="card" href="mailto:{{ site.email }}">Contact Us</a>
    </div>
    <div class="board"><div class="boardtitle"><i class="bi bi-link"></i> Social Handles</div>
        <a class="card" href="{{ site.data.url.linkedin }}">LinkedIn</a>
        <a class="card" href="{{ site.data.url.instagram }}">Instagram</a>
        <a class="card" href="{{ site.data.url.x }}">X (Twitter)</a>
        <a class="card" href="{{ site.data.url.youtube }}">YouTube</a>
        <a class="card" href="{{ site.data.url.facebook }}">Facebook</a>
    </div>
    <div class="board"><div class="boardtitle"><i class="bi bi-gear-wide-connected"></i> App Settings</div>
        <a id="cache" class="card" href="clear:">Clear: Cache and History</a>
        <a id="theme" class="card disabled"></a>
    </div>
</div>

{%- if path[1] == "search" or path[1] == "testapp" -%}{%- assign flag = "block_webfooter" -%}
{%- else -%}
<div id="backtotop" class="text-center" style="display: none; padding-top: 15px;"><a class="back-to-top" style="cursor: pointer;" title="Back to top"><i class="svgicon bi bi-arrow-bar-up"></i></a></div>
{%- endif -%}
<footer class="isWebsite {{ flag }}" id="isWebsite" style="display: block; padding-top: 30px;">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3" style="padding-bottom: 50px;">
                    <h6>What's new</h6>
                    <a href="python/"><div>Python</div></a>
                    <a href="ds/"><div>Data Science</div></a>
                    <a href="java/"><div>Java</div></a>
                    <a href="mongodb/"><div>MongoDB</div></a>
                    <a href="selenium/"><div>Selenium</div></a>
                </div>
                <div class="col-6 col-md-3" style="padding-bottom: 50px;">
                    <h6>Searches</h6>
                    <a href="search"><div>Search</div></a>
                    <a href="java/search"><div>Java Search</div></a>
                    <a href="python/search"><div>Python Search</div></a>
                    <a href="mongodb/search"><div>MongoDB Search</div></a>
                    <a href="selenium/search"><div>Selenium Search</div></a>
                </div>
                <div class="col-6 col-md-3" style="padding-bottom: 50px;">
                    <h6>About Us</h6>
                    <a href="about/faqs"><div>FAQs</div></a>
                    <a href="about/terms"><div>Terms</div></a>
                    <a href="about/privacy"><div>Privacy</div></a>
                    <a href="about/disclaimer"><div>Disclaimer</div></a>
                    <a href="mailto:{{ site.email }}"><div>Contact Us</div></a>
                </div>
                <div class="col-6 col-md-3" style="padding-bottom: 50px;">
                    <h6>Social Handles</h6>
                    <a href="{{ site.data.url.linkedin }}" target="_blank"><div>LinkedIn</div></a>
                    <a href="{{ site.data.url.instagram }}" target="_blank"><div>Instagram</div></a>
                    <a href="{{ site.data.url.x }}" target="_blank"><div>X</div></a>
                    <a href="{{ site.data.url.youtube }}" target="_blank"><div>YouTube</div></a>
                    <a href="{{ site.data.url.facebook }}" target="_blank"><div>Facebook</div></a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="background-color: #16181d; padding: 15px; margin: 0px;"> 
        <img alt="" src="{{ site.icon }}" width="25" height="25"><span style="padding-top: 2px; padding-left: 5px; color: #ffffff;">{{ site.title }} by <a class="hlink" href="shubhamrdarda">{{ site.founder }}</span></a>
    </div>
</footer>

<footer class="isWebView" id="isWebView" style="display: none;">
    {%- assign display="false" -%}
    {%- if path[1] == nil -%}
        {%- assign f_home="wvnav-item-active" -%}
    {%- elsif path[1] == "search" -%}
        {%- assign f_search="wvnav-item-active" -%}
    {%- elsif path[1] == "about" or path[1] == "shubhamrdarda" -%}
        {%- assign f_about="wvnav-item-active" -%}
    {%- else -%}
        {%- assign f_learn="wvnav-item-active" -%}
        {%- assign display="true" -%}
    {%- endif -%}

    <div class="d-flex justify-content-between wvnav">
        <a class="wvnav-item {{ f_home }}" href="{{ site.url }}"><i class="wvsvg {{ f_home }}- bi bi-house-door"></i><div class="text-center">Home</div></a>
        <a class="wvnav-item {{ f_search }}" href="{{ site.url }}/search"><i class="wvsvg {{ f_search }}- bi bi-search"></i><div class="text-center">Search</div></a>
        {%- if path[1] == nil or path[1] == "search" or path[1] == "about" or path[1] == "shubhamrdarda" -%}<a class="wvnav-item" href="{{ site.data.url.sponsor }}"><i class="wvsvg bi bi-suit-heart"></i><div class="text-center">Sponsor</div></a>{%- endif -%}
        {%- if display == "true" -%}<a class="wvnav-item {{ f_learn }}" href="{{ site.url }}/{{ path[1] }}"><i class="wvsvg {{ f_learn }}-{{ path[1] }} bi bi-code-square"></i><div class="text-center">Learning</div></a>{%- endif -%}
        <a class="wvnav-item" href="share:{{ site.url }}{{ page.url }}"><i class="wvsvg bi bi-share"></i><div class="text-center">Share</div></a>
        <a class="wvnav-item {{ f_about }}" href="{{ site.url }}/about"><i class="wvsvg {{ f_about }}-about bi bi-info-circle"></i><div class="text-center">About</div></a>
    </div>
</footer>

<script type="text/javascript">
const webfooter = document.getElementById("isWebsite");
const about_section = document.getElementById("app");

if (isWebview && userAgent.includes("KodingWindow")) {
    document.getElementById("rsidebar").style.display = "none";
    document.getElementById("isWebsite").style.display = "none";
    document.getElementById("isWebView").style.display = "block";
    document.getElementById("backtotop").style.marginBottom = "100px";
    onselectstart = (e) => { e.preventDefault() }
    $('body').on('contextmenu', function () { return false; });

    var lastScrollTop = 0;
    $(window).on('scroll', function () {
        scrollTop = $(this).scrollTop();
        if ((document.body.scrollHeight - 150) <= (window.scrollY + window.innerHeight)) {
            $("#isWebView").fadeIn();
        }
        else if(scrollTop > lastScrollTop && document.body.scrollHeight >= 1500) {
            $("#isWebView").fadeOut();
        }
        else {
            $("#isWebView").fadeIn();
        }
        lastScrollTop = scrollTop;
    });
}
else if (!isWebview && webfooter.classList.contains("block_webfooter"))
{
    document.getElementById("isWebsite").style.display = "none";
}
if(isWebview && userAgent.includes("KodingWindow") && about_section.classList.contains("about_home_true"))
{
    document.getElementById("app").style.display = "block";
    document.getElementById("navbar-brand").style.marginLeft = "0px";
    document.getElementById("lsidebar").style.display = "none";
    document.getElementById("leftsidebar").style.display = "none";
}
else if(isWebview && userAgent.includes("KodingWindow") && about_section.classList.contains("about_home_false"))
{
    document.getElementById("navbar-brand").style.marginLeft = "0px";
    document.getElementById("lsidebar").style.display = "none";
}
$("#cache").click(function () 
{
    $(this).html("Cleared: Cache and History");
    $(this).css("color", "#00b050");
});
if(window.matchMedia && window.matchMedia("(prefers-color-scheme:dark)").matches) 
{
    document.getElementById("theme").innerHTML = "Theme: System Default (Dark)";
} 
else 
{
    document.getElementById("theme").innerHTML = "Theme: System Default (Light)";
}
</script>