{% assign pu=page.url | split: '/' %}

{% if page.url contains "/c/" %}
{% assign segmentname = "C Programming" %}{% assign breadcrumb_parent=" / C / " %}
{% for segment in site.data.c.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/cpp/" %}
{% assign segmentname = "C++ Programming" %}{% assign breadcrumb_parent=" / C++ / " %}
{% for segment in site.data.cpp.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/java/" %}
{% assign segmentname = "Java Programming" %}{% assign breadcrumb_parent=" / Java / " %}
{% for segment in site.data.java.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/csharp/" %}
{% assign segmentname = "C# Programming" %}{% assign breadcrumb_parent=" / C# / " %}
{% for segment in site.data.csharp.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/python/" %}
{% assign segmentname = "Python Programming" %}{% assign breadcrumb_parent=" / Python / " %}
{% for segment in site.data.python.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/r/" %}
{% assign segmentname="R Programming" %}{% assign breadcrumb_parent=" / R / " %}
{% for segment in site.data.r.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/datascience/" %}
{% assign segmentname="Data Science" %}{% assign breadcrumb_parent=" / DS / " %}
{% for segment in site.data.datascience.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/lisp/" %}
{% assign segmentname="LISP Programming" %}{% assign breadcrumb_parent=" / LISP / " %}
{% for segment in site.data.lisp.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/dsa/" %}
{% assign segmentname="Data Structures and Algorithms" %}{% assign breadcrumb_parent=" / DSA / " %}
{% for segment in site.data.dsa.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/mysql/" %}
{% assign segmentname="MySQL Database" %}{% assign breadcrumb_parent=" / MySQL / " %}
{% for segment in site.data.mysql.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/mongodb/" %}
{% assign segmentname="MongoDB (NoSQL Database)" %}{% assign breadcrumb_parent=" / MongoDB / " %}
{% for segment in site.data.mongodb.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/linux/" %}
{% assign segmentname="Linux Commands" %}{% assign breadcrumb_parent=" / Linux / " %}
{% for segment in site.data.linux.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/bash/" %}
{% assign segmentname="Bash Shell Scripting" %}{% assign breadcrumb_parent=" / Bash Shell / " %}
{% for segment in site.data.bash.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/cg/" %}
{% assign segmentname="Computer Graphics" %}{% assign breadcrumb_parent=" / Computer Graphics / " %}
{% for segment in site.data.cg.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/asm/" %}
{% assign segmentname="Assembly Programming" %}{% assign breadcrumb_parent=" / Assembly / " %}
{% for segment in site.data.asm.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/selenium/" %}
{% assign segmentname="Selenium WebDriver" %}{% assign breadcrumb_parent=" / Selenium / " %}
{% for segment in site.data.selenium.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/vbscript/" %}
{% assign segmentname="Visual Basic Scripting" %}{% assign breadcrumb_parent=" / VBScript / " %}
{% for segment in site.data.vbscript.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/search/" %}{% assign segmentname="Kodingwindow Search" %}{% assign breadcrumb_parent=" / Global Search" %}

{% elsif page.url contains "/mcqs/" %}
{% assign segmentname="Multiple Choice Questions" %}{% assign breadcrumb_parent=" / MCQs" %}
{% for segment in site.data.mcqs.segments %}
    {% if page.url contains segment.url %}{% assign breadcrumb_child = segment.breadcrumb_child %}{% endif %}
{% endfor %}

{% elsif page.url contains "/faqs/" %}{% assign segmentname="Frequently Asked Questions" %}{% assign breadcrumb_parent=" / FAQs" %}

{% elsif page.url contains "about" %}{% assign breadcrumb_parent=" / About Us" %}

{% elsif page.url contains "/testapp/" %}{% assign segmentname="Kodingwindow TestApp" %}{% assign breadcrumb_parent=" / TestApp" %}

{% else %}
{% endif %}

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.title }}, {{ segmentname }}">
    <meta name="description" content="{{ site.title }}">
    <meta name="author" content="{{ site.author }}">
    <meta property="og:image" content="{{ site.logo }}">
    <link rel="icon" href="{{ site.icon }}">
    <link rel="stylesheet" type="text/css" href="{{ site.bootstrap_css }}">
    <link rel="stylesheet" type="text/css" href="{{ site.kw_css }}">
    <script src="{{ site.jquery }}"></script>
    <script src="{{ site.bootstrap_js }}"></script>
    <script src="{{ site.kw_js }}"></script>
    <script async src="{{ site.analytics }}"></script>
    <base href="{{ site.url }}">
</head>

<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16"><path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/></svg> Kodingwindow's Contact Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" style="box-shadow: none;"></button>
            </div>
            <div class="modal-body">
                <form name="data-to-google-sheet">
                    <div class="mb-3">
                        <input pattern="[A-Za-z]{2,30}" class="form-control" id="fname" name="fname" placeholder="* Firstname" type="text" minlength="2" maxlength="30" autocomplete="off" title="Please enter the alphabets only" required>
                    </div>
                    <div>
                        <input pattern="[A-Za-z]{2,30}" class="form-control" id="lname" name="lname" placeholder="* Lastname" type="text" minlength="2" maxlength="30" autocomplete="off" title="Please enter the alphabets only" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <input onkeyup="this.value = this.value.toLowerCase();" class="form-control" id="email" name="email" placeholder="* Email" type="email" minlength="7" maxlength="30" autocomplete="off" title="Please enter the valid email address" required>
                    </div>
                    <textarea onkeypress="validate_comments(event)" class="form-control" id="comments" name="comments" placeholder="* Comments/Queries" rows="2" maxlength="250" autocomplete="off" spellcheck="true" required></textarea>
                    <div class="text-center" style="font-size: 14px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg> Write to us on <a style="color: #3973ac;" href="mailto:{{ site.yahoo }}" style="text-decoration: none;">{{ site.email }}</a></div>
                    <div style="margin-top: 20px;"><center>
                        <button class="btn kwbtn" type="reset" style="margin-right: 10px;">Reset</button>
                        <button class="btn kwbtn" type="button" style="margin-right: 10px;" data-bs-dismiss="modal">Close</button>
                        <button class="btn kwbtn" class="btn btn-light" type="submit">Submit</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
const scriptURL = 'https://script.google.com/macros/s/AKfycbyd6m8TnOZ6kRxcosvL7bYooD322egegsu8M9kYzu-gPGSg6DE/exec'
const form = document.forms['data-to-google-sheet']
form.addEventListener('submit', e => 
{
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)}).then(response => 
    {  
        form.reset();
        alert("Thank You.\nYour Information Received Successfully.\nDate - "+kwdate()+"\nTime - "+kwtime());
    }).catch(error => console.error('Failed to Receive Your Information.', error.message))
})
</script>