<li class="nav-item dropdown kwmegamenu">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color: #cccccc; cursor: pointer;">Computer Science</a>
    <div class="dropdown-menu kwmenu">
        <div class="row">
            {% for parent in site.data.navmenu.grandparent %}<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <h6 class="submenutitle">{{ parent.parent }}</h6>
                {% for child in parent.children %}<ul class="list-unstyled">
                    <li><a class="{{ child.url | split: '/' }} kwcard" href="{{ child.url }}">{{ child.title }}</a></li>
                </ul>{% endfor %}
            </div>{% endfor %}
        </div>
    </div>
</li>
{% if pu[1] contains "search" %}{% else %}<li class="nav-item"><a class="nav-link" style="color: #cccccc;" href="search/">Global Search</a></li>{% endif %}
{% if pu[1] contains "mcqs" %}{% else %}<li class="nav-item"><a class="nav-link" style="color: #cccccc;" href="mcqs/">MCQs</a></li>{% endif %}
{% if pu[1] contains "faqs" %}{% else %}<li class="nav-item"><a class="nav-link" style="color: #cccccc;" href="faqs/">FAQs</a></li>{% endif %}
{% if pu[1] contains "about" %}{% else %}<li class="nav-item"><a class="nav-link" style="color: #cccccc;" href="about/">About Us</a></li>{% endif %}
<li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #cccccc; cursor: pointer;">Contact Us</a></li>