<!DOCTYPE html>
<html>
<head>
{% assign pu=page.url | split: '/' %}

<script type="text/javascript">
$(document).ready(function()
{
    $("#KSEInput").on("keyup", function() 
    {
        if($("#KSEInput").val().length > 0) 
        {
            document.getElementById("{{ pu[1] }}").style.display = "block";
        } 
        else 
        {
            document.getElementById("{{ pu[1] }}").style.display = "none";
        }
        var value = $(this).val().toLowerCase();
        $("#{{ pu[1] }} *").filter(function() 
        {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
function clearinput() 
{
    document.getElementById("KSEInput").value = "";
    document.getElementById("{{ pu[1] }}").style.display = "none";
    document.getElementById("kwdisplay").style.display = "none";
}
function kwdisplay() 
{
    if($("#KSEInput").val().length > 0) 
    {
        document.getElementById("kwdisplay").style.display = "inline-block";
    }
    else
    {
        document.getElementById("kwdisplay").style.display = "none";
    }
}
$(document).ready(function() 
{
    $("html").on("contextmenu", function(e)
    {
        return false;
    });
});
$(document).keydown(function(event) 
{
    if(event.keyCode==123) 
    {
        return false;
    }
});
</script>
</head>

<body>
<center>
    <div class="kwwidth" style="margin-bottom: 20px;">
        <h1>Kodingwindow</h1>
        <div style="margin-bottom: 20px; font-size: 17px;"><span style="font-size: 24px;">M</span>aking differences to programmers life!</div>
        <div class="input-group"><input id="KSEInput" class="form-control" type="text" tabindex="1" placeholder="{{ page.title }} (type keywords to get results)" onfocus="this.style.borderBottomColor='#29293d', this.style.borderBottomWidth='2px'" onfocusout="this.style.borderBottomColor='#cccccc', this.style.borderBottomWidth='1px'" onkeypress="kwdisplay();" onkeyup="kwdisplay();" style="border-color: #cccccc;"></div>
    </div>
    <a id="kwdisplay" style="cursor: pointer; display: none;" onclick="clearinput();" class="btn kwbtn">Clear Input</a>
</center>

<center><div id="search" class="kwwidth" style="margin: 0px; text-align: left;">
    <div style="margin-bottom: 20px; margin-top: 20px; display: none;">{% for parent in site.data.sidenav.grandparent %}{% for child in parent.children %}<a class="darkwell card {{ parent.parent | split: '/' }}" href="{{ child.url }}">{{ child.title }}</a>{% endfor %}{% endfor %}</div>
    {% for segment in site.data.segments %}
        {% if segment.url == "c/" %}{% assign search = site.data.c %}
        {% elsif segment.url == "cpp/" %}{% assign search = site.data.cpp %}
        {% elsif segment.url == "java/" %}{% assign search = site.data.java %}
        {% elsif segment.url == "csharp/" %}{% assign search = site.data.csharp %}
        {% elsif segment.url == "python/" %}{% assign search = site.data.python %}
        {% elsif segment.url == "r/" %}{% assign search = site.data.r %}
        {% elsif segment.url == "datascience/" %}{% assign search = site.data.datascience %}
        {% elsif segment.url == "lisp/" %}{% assign search = site.data.lisp %}
        {% elsif segment.url == "dsa/" %}{% assign search = site.data.dsa %}
        {% elsif segment.url == "mysql/" %}{% assign search = site.data.mysql %}
        {% elsif segment.url == "mongodb/" %}{% assign search = site.data.mongodb %}
        {% elsif segment.url == "linux/" %}{% assign search = site.data.linux %}
        {% elsif segment.url == "bash/" %}{% assign search = site.data.bash %}
        {% elsif segment.url == "cg/" %}{% assign search = site.data.cg %}
        {% elsif segment.url == "asm/" %}{% assign search = site.data.asm %}
        {% elsif segment.url == "selenium/" %}{% assign search = site.data.selenium %}
        {% elsif segment.url == "vbscript/" %}{% assign search = site.data.vbscript %}{% else %}{% endif %}
        <div style="margin-bottom: 20px; margin-top: 20px; display: none;" id="{{ segment.url | split: '/' }}">
        {% for parent in search.grandparent %}{% for child in parent.children %}<a class="darkwell card" href="{{ child.url }}">{{ child.title }}</a>{% endfor %}{% endfor %}
        </div>
    {% endfor %}
    <div style="margin-bottom: 20px; margin-top: 20px; display: none;" id="mcqs">
        <a class="darkwell card" href="mcqs/">Multiple Choice Questions (MCQs)</a>
        {% for parent in site.data.mcqs.grandparent %}{% for child in parent.children %}<a class="darkwell card" href="https://www.linkedin.com/feed/update/urn:li:activity:{{ child.id }}/" target="_blank">{{ child.title }}</a>{% endfor %}{% endfor %}
    </div>
</div></center>
</body>
</html>