---
layout: container
title: Multiple Choice Questions
modified: 30 Jan 2021 21:09 IST   
---

{% for parent in site.data.mcqs.grandparent %}
<div class="board"><div class="boardtitle">{{ parent.parent }}</div>
    {% for child in parent.children limit:4 %}<a class="card" href="https://www.linkedin.com/feed/update/urn:li:activity:{{ child.id }}/" target="_blank">{{ child.title }}</a>{% endfor %}
    {% assign count=parent.children | size %}
    {% if count>=5 %}<a class="card" href="{{ parent.url }}">Learn More &#187;</a>{% endif %}
</div>
{% endfor %}