---
---

:root 
{
    --c:            #0080ff;
    --cpp:          #99e600;
    --java:         #ff8533;
    --python:       #e6e600;
    --ds:           #cc6666;
    --r:            #9999ff;
    --julia:        #cc3399;
    --octave:       #ff6600;
    --csharp:       #b366ff;
    --fsharp:       #00bfff;
    --rust:         #996633;
    --lisp:         #6666ff;
    --dsa:          #e6b800;
    --linux:        #ff9966;
    --mysql:        #4080bf;
    --mongodb:      #29a329;
    --cg:           #ff6699;
    --selenium:     #00cc66;
    --testapp:      #00cc66;
    --asm:          #b37700;
    --cluster:      #99994d;
    --other:        #00b050;
}

/* --------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark)
{
    {% for segment in site.data.kw.segments %}{% assign s = segment.url | split: '/' %}
    a.{{ s }}:hover, a.{{ s }}:focus, #{{ s }} > a:hover, #{{ s }} > a:focus, .procard.{{ s }}, .nav-link.sidebar-item-active.{{ s }}
    { border-left: 5px solid var(--{{ s }}); }

    #fc-{{ s }}, #fc-{{ s }}:hover, .wvnav-item-active-{{ s }}
    { color: var(--{{ s }}); }

    input.bc-{{ s }}:focus
    { border-bottom: 2px solid var(--{{ s }}); }

    a.bc-{{ s }}:hover, a.bc-{{ s }}:focus, a.bc-{{ s }}:hover:active
    { border: 1px solid var(--{{ s }}); }

    {% endfor %}

    #other > a:hover, #other > a:focus, .nav-link.sidebar-item-active.about, a.about:hover, a.about:focus
    { border-left: 5px solid var(--other); }

    #fc-, #fc-search, #fc-about, #fc-shubhamrdarda, .wvnav-item-active-, .wvnav-item-active-search, .wvnav-item-active-about, #fc-:hover, #fc-search:hover, #fc-about:hover, #fc-shubhamrdarda:hover
    { color: var(--other); }

    input.bc-search:focus 
    { border-bottom: 2px solid var(--other); }

    a.bc-search:hover, a.bc-search:focus 
    { border: 1px solid var(--other); }

    :root
    {
        --c1: #c9d1d9;
        --c2: #ff7b72;
        --c3: #f0f6fc;
        --c4: #ffdcd7;
        --c5: #ffa657;
        --c6: #7ee787;
        --c7: #aff5b4;
        --c8: #79c0ff;
        --c9: #1f6feb;
        --c10: #a5d6ff;
        --c11: #d2a8ff;
        --c12: #8b949e;
    }
}

/* --------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: light)
{
    {% for segment in site.data.kw.segments %}{% assign s = segment.url | split: '/' %}
    a.{{ s }}:hover, a.{{ s }}:focus, #{{ s }} > a:hover, #{{ s }} > a:focus, .procard.{{ s }}, .nav-link.sidebar-item-active.{{ s }}
    { border-left: 5px solid var(--{{ s }}); }

    #fc-{{ s }}, #fc-{{ s }}:hover, .wvnav-item-active-{{ s }}
    { color: var(--{{ s }}); }

    input.bc-{{ s }}:focus
    { border-bottom: 2px solid var(--{{ s }}); }

    a.bc-{{ s }}:hover, a.bc-{{ s }}:focus, a.bc-{{ s }}:hover:active
    { border: 1px solid var(--{{ s }}); }

    {% endfor %}

    #other > a:hover, #other > a:focus, .nav-link.sidebar-item-active.about, a.about:hover, a.about:focus
    { border-left: 5px solid var(--other); }

    #fc-, #fc-search, #fc-about, #fc-shubhamrdarda, .wvnav-item-active-, .wvnav-item-active-search, .wvnav-item-active-about, #fc-:hover, #fc-search:hover, #fc-about:hover, #fc-shubhamrdarda:hover
    { color: var(--other); }

    input.bc-search:focus 
    { border-bottom: 2px solid var(--other); }

    a.bc-search:hover, a.bc-search:focus 
    { border: 1px solid var(--other); }
    
    :root
    {
        --c1: #24292f;
        --c2: #cf222e;
        --c3: #24292f;
        --c4: #82071e;
        --c5: #953800;
        --c6: #116329;
        --c7: #116329;
        --c8: #043a7c;
        --c9: #0550ae;
        --c10: #0a3069;
        --c11: #8250df;
        --c12: #6e7781;
    }
}

/* --------------------------------------------------------------------------------------------- */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w { color: var(--c1); }
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv { color: var(--c2); }
.highlight .gr { color: var(--c3); }
.highlight .gd { color: var(--c4); }
.highlight .nb { color: var(--c5); }
.highlight .nc { color: var(--c5); }
.highlight .no { color: var(--c5); }
.highlight .nn { color: var(--c5); }
.highlight .sr { color: var(--c6); }
.highlight .na { color: var(--c6); }
.highlight .nt { color: var(--c6); }
.highlight .gi { color: var(--c7);  }
.highlight .kc { color: var(--c8); }
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: var(--c8); }
.highlight .sb { color: var(--c8); }
.highlight .bp { color: var(--c8); }
.highlight .ne { color: var(--c8);}
.highlight .nl { color: var(--c8);}
.highlight .py { color: var(--c8); }
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { color: var(--c8); }
.highlight .o, .highlight .ow { color: var(--c8); }
.highlight .gh { color: var(--c9); }
.highlight .gu { color: var(--c9); }
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {color: var(--c10); }
.highlight .nd { color: var(--c11) }
.highlight .nf, .highlight .fm { color: var(--c11); }
.highlight .err { color: var(--c3) }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs { color: var(--c12); }
.highlight .gl { color: var(--c12); }
.highlight .gt { color: var(--c12); }
.highlight .ni { color: var(--c1); }
.highlight .si { color: var(--c1); }
.highlight .ge { color: var(--c1); }
.highlight .gs { color: var(--c1); }

/* --------------------------------------------------------------------------------------------- */