---
---

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root 
{
    --c:            #0080ff;
    --cpp:          #99e600;
    --java:         #ff8533;
    --python:       #e6e600;
    --ds:           #cc6666;
    --r:            #9999ff;
    --julia:        #cc3399;
    --octave:       #ff6600;
    --csharp:       #b366ff;
    --fsharp:       #00bfff;
    --rust:         #996633;
    --lisp:         #8080ff;
    --dsa:          #e6b800;
    --linux:        #ff9966;
    --mysql:        #4080bf;
    --mongodb:      #29a329;
    --cg:           #ff6699;
    --selenium:     #00cc66;
    --testapp:      #00cc66;
    --asm:          #b37700;
    --cluster:      #99994d;
    --search:       #00b050;
    --other:        #00b050;
}

/* --------------------------------------------------------------------------------------------- */

{%- for segment in site.data.kw.segments -%}{%- assign s = segment.url | split: '/' -%}
a.{{ s }}:hover, a.{{ s }}:focus, #{{ s }} > a:hover, #{{ s }} > a:focus, .procard.{{ s }}, .nav-link.sidebar-item-active.{{ s }}
{ border-left: 5px solid var(--{{ s }}); }

#fc-{{ s }}, #fc-{{ s }}:hover, .wvnav-item-active-{{ s }}
{ color: var(--{{ s }}); }

div#KSE_input-{{ s }}
{
    border-bottom: 1px solid var(--{{ s }});
    border-radius: 5px;
}
#KSE_input-{{ s }}
{     
    -webkit-box-shadow: 0px 0px 20px -13px var(--{{ s }});
    -moz-box-shadow: 0px 0px 20px -13px var(--{{ s }});
    box-shadow: 0px 0px 20px -13px var(--{{ s }});
}
{%- endfor -%}

#other > a:hover, #other > a:focus, .nav-link.sidebar-item-active.about, a.about:hover, a.about:focus
{ border-left: 5px solid var(--other); }

#fc-, #fc-search, #fc-about, #fc-shubhamrdarda, .wvnav-item-active-, .wvnav-item-active-search, .wvnav-item-active-about, #fc-:hover, #fc-search:hover, #fc-about:hover, #fc-shubhamrdarda:hover
{ color: var(--other); }

/* --------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark)
{
    :root
    {
        --color1: #373d49;
        --color2: #2c313a;
        --color3: #16181d;
        --color4: #16181d;
        --bnw: #ffffff;
        --textcolor: #e6e6e6;
        --infocard: #0b0c0e;
        --hlink: #4d94ff;
        --sidebar-bc: #21252c;
        --sidebar-tc: #d9d9d9;
        --rightsidebar-bc: #21252c;
        --board-bc: #21252c;
        --board-tc: #d9d9d9;
        --pre-bg: #0b0c0f;
        --svgicon: #f2f2f2;
        --bg_jumbotron: #050514;
        --hover_jumbotron: #000000;
        --hover_sideitem: #16181d;
        --wvnav: #000000;
        --wvnav-item-active: #21252c;

        --c1: #c9d1d9;
        --c2: #ff7b72;
        --c3: #f0f6fc;
        --c4: #ffdcd7;
        --c5: #ffa657;
        --c6: #7ee787;
        --c7: #aff5b4;
        --c8: #79c0ff;
        --c9: #1f6feb;
        --c10: #a5d6ff;
        --c11: #d2a8ff;
        --c12: #8b949e;
    }
    {%- assign ctheme = "dark" -%}
}

/* --------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: light)
{
    :root
    {
        --color1: #8b98a7;
        --color2: #c5cbd3;
        --color3: #99a4b2;
        --color4: #c5cbd3;
        --bnw: #000000;
        --textcolor: #000000;
        --infocard: #b6bfc8;
        --hlink: #1a75ff;
        --sidebar-bc: #e2e5e9;
        --sidebar-tc: #424b57;
        --rightsidebar-bc: #e2e5e9;
        --rightsidebar-tc: #424b57;
        --board-bc: #e2e5e9;
        --board-tc: #424b57;
        --pre-bg: #e2e6e9;
        --svgicon: #424b57;
        --bg_jumbotron: #c5cbd3;
        --hover_jumbotron: #99a4b2;
        --hover_sideitem: #c5cbd3;
        --wvnav: #ffffff;
        --wvnav-item-active: #e2e5e9;
        
        --c1: #24292f;
        --c2: #cf222e;
        --c3: #24292f;
        --c4: #82071e;
        --c5: #953800;
        --c6: #116329;
        --c7: #116329;
        --c8: #043a7c;
        --c9: #0550ae;
        --c10: #0a3069;
        --c11: #8250df;
        --c12: #6e7781;
    }
    {%- assign ctheme = "light" -%}
}

/* --------------------------------------------------------------------------------------------- */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w { color: var(--c1); }
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv { color: var(--c2); }
.highlight .gr { color: var(--c3); }
.highlight .gd { color: var(--c4); }
.highlight .nb { color: var(--c5); }
.highlight .nc { color: var(--c5); }
.highlight .no { color: var(--c5); }
.highlight .nn { color: var(--c5); }
.highlight .sr { color: var(--c6); }
.highlight .na { color: var(--c6); }
.highlight .nt { color: var(--c6); }
.highlight .gi { color: var(--c7);  }
.highlight .kc { color: var(--c8); }
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: var(--c8); }
.highlight .sb { color: var(--c8); }
.highlight .bp { color: var(--c8); }
.highlight .ne { color: var(--c8);}
.highlight .nl { color: var(--c8);}
.highlight .py { color: var(--c8); }
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { color: var(--c8); }
.highlight .o, .highlight .ow { color: var(--c8); }
.highlight .gh { color: var(--c9); }
.highlight .gu { color: var(--c9); }
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {color: var(--c10); }
.highlight .nd { color: var(--c11) }
.highlight .nf, .highlight .fm { color: var(--c11); }
.highlight .err { color: var(--c3) }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs { color: var(--c12); }
.highlight .gl { color: var(--c12); }
.highlight .gt { color: var(--c12); }
.highlight .ni { color: var(--c1); }
.highlight .si { color: var(--c1); }
.highlight .ge { color: var(--c1); }
.highlight .gs { color: var(--c1); }

/* --------------------------------------------------------------------------------------------- */

@media(min-width: 767px) {
    img#logo {
        margin: 0px 5px 0px 0px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
}

@media(max-width: 768px) {
    img#logo {
        margin: -4px 5px 0px 0px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }

    div.navbar-brand {
        margin-left: 45px;
    }

    .rightsidebar-collapse,
    .leftsidebar-collapse {
        position: fixed;
        top: 55px;
        bottom: 0;
        overflow-y: auto;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
    }

    .rightsidebar-collapse {
        width: 100%;
        padding: 3px 0px 3px 0px;
        background-color: var(--rightsidebar-bc);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .rightsidebar-collapse>ul>li {
        border-bottom: 1px solid var(--color2);
        padding: 3px 20px 3px 20px;
    }

    .rightsidebar-collapse>ul>li.nav-item,
    .rightsidebar-collapse>ul>li.nav-item>a.nav-link,
    a.nav-link>i.navsvg {
        color: var(--rightsidebar-tc);
    }

    .rightsidebar-collapse.open {
        padding: 3px 0px 3px 0px;
        border-left: 1px solid var(--color1);
        -webkit-transform: translateX(30%);
        transform: translateX(30%);
    }

    .rightsidebar-collapse.open>ul>li {
        border-bottom: 1px solid var(--color2);
        padding: 3px 20px 3px 20px;
    }

    .leftsidebar-collapse {
        width: 65%;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .leftsidebar-collapse.open {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* --------------------------------------------------------------------------------------------- */

body {
    font-family: 'Roboto';
    font-size: 15px;
    overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bnw);
}

hr {
    margin: 12px 0px 12px 0px;
    color: var(--color1);
}

p {
    color: var(--textcolor);
    padding: 10px 10px 0px 10px;
    line-height: 25px;
    text-align: left;
}

mark {
    color: #00b050;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

p>mark,
div.infocard>mark {
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    color: var(--textcolor);
    background-color: var(--color1);
}

nav,
footer,
.sidebar,
.jumbotron,
.procard,
.carousel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe {
    border-radius: 0px 0px 5px 5px;
}

/* --------------------------------------------------------------------------------------------- */

nav {
    border-bottom: 1px solid var(--color1);
}

.navbar {
    height: 55px;
    background-color: #000000;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

li.nav-item,
li.nav-item>a.nav-link,
a.nav-link>i {
    color: #e6e6e6;
}

a,
a:hover,
a.nav-link,
a.nav-link:hover,
a.card,
span.nav-link,
span.nav-link:hover {
    text-decoration: none;
    font-size: 15px;
}

.jumbotron {
    padding: 100px 0px 44px 0px;
    margin-bottom: 60px;
    border-radius: 0px;
    border-bottom: 1px solid var(--color1);
    background-color: var(--color2);
    color: var(--bnw);
}

div.procard {
    background-color: var(--bg_jumbotron);
    border: 0px;
    transition: 2s;
    margin-bottom: 30px;
    padding: 20px;
    white-space: nowrap;
    border-radius: 0px 5px 5px 0px;
    color: var(--textcolor);
}

div.procard:hover {
    background-color: var(--hover_jumbotron);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    -webkit-transition: color 2s 2s ease-in;
    -moz-transition: color 2s 2s ease-in;
    -ms-transition: color 2s 2s ease-in;
    -o-transition: color 2s 2s ease-in;
    transition: color 2s 2s ease-in;
}

/* --------------------------------------------------------------------------------------------- */

pre {
    font-size: 15px;
    background-color: var(--pre-bg);
    word-break: keep-all;
    word-wrap: inherit;
    padding: 7px;
    margin: 0px;
}

span>pre {
    font-size: 15px;
    color: #e6e6e6;
    background-color: #000000;
    word-break: keep-all;
    word-wrap: inherit;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 30px;
}

div+pre,
div+span>pre,
div.collapse>span>pre {
    border-left: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
}

div+span>pre,
div.collapse>span>pre {
    border-bottom: 1px solid var(--color1);
}

span>pre>hr {
    border-bottom: 1px solid var(--color1);
}

warning {
    color: #e6b800;
}

error {
    color: #e63636;
}

comment,
a.hlink,
a.hlink:hover,
a.hlink:focus {
    color: var(--hlink);
}

a.card {
    border: none;
    text-decoration: none;
}

a.card:hover,
a.card:focus {
    border-radius: 0px 5px 5px 0px;
    transition: 0.3s;
    background-color: var(--infocard);
}

a.card.codecard {
    border-left: 5px solid transparent;
}

div.card {
    border: 0px;
    border-radius: 0px;
    text-align: left;
    padding: 7px 7px 7px 10px;
    margin-bottom: 0px;
    color: var(--bnw);
    background-color: var(--color2);
    border-left: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
}

div.card.collapsed {
    margin-bottom: 30px;
}

pre.editorcard {
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color1);
}

div.terminalcard {
    border: 0px;
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    color: var(--bnw);
    background-color: var(--color1);
    border: 1px solid var(--color1);
}

div.infocard {
    border: 0px;
    border-radius: 0px;
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    line-height: 25px;
    color: var(--bnw);
    background-color: var(--infocard);
    border: 1px solid var(--color1);
    border-width: 0px 1px 1px 1px;
}

div.titlecard {
    border-radius: 5px;
    font-weight: normal;
    text-align: left;
    padding: 8px 8px 8px 10px;
    margin-bottom: 15px;
    color: var(--bnw);
    background-color: var(--infocard);
}

div.codecard {
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    color: var(--bnw);
    background-color: var(--color3);
    border: 1px solid var(--color1);
}

a.codecard,
span.codecard {
    border: 0px;
    border-radius: 5px;
    padding: 7px 7px 7px 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    color: var(--bnw);
    background-color: var(--color2);
}

/* --------------------------------------------------------------------------------------------- */

div.card .show {
    display: none;
}

div.card.collapsed .show {
    display: block;
}

div.card .hide {
    display: block;
}

div.card.collapsed .hide {
    display: none;
}

div.collapsed {
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* --------------------------------------------------------------------------------------------- */

.sidebar {
    position: fixed;
    padding: 0;
    top: 55px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid var(--color1);
    background-color: var(--sidebar-bc);
}

.sidebar>a {
    padding: 12px;
    color: var(--sidebar-tc);
    border-left: 5px solid transparent;
    border-bottom: 1px solid var(--color2)
}

.sidebar>a:last-child {
    margin-bottom: 30px;
}

.sidebar>a:hover,
.sidebar>a:focus {
    background-color: var(--color2);
    color: var(--bnw);
    box-shadow: none;
}

.sidebar,
pre {
    scrollbar-width: thin;
}

a.sidebar-item-active {
    background-color: var(--hover_sideitem);
    color: var(--bnw);
}

/* --------------------------------------------------------------------------------------------- */

div.board {
    border-radius: 5px;
    border: 1px solid var(--color1);
    margin-bottom: 30px;
}

div.boardtitle {
    border-bottom: 1px solid var(--color1);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    color: var(--bnw);
    background-color: var(--color3);
}

div.boardtitle~a {
    background-color: var(--board-bc);
    border-bottom: 1px solid var(--color2);
    border-radius: 0px;
    padding: 9px;
    border-left: 4px solid transparent;
    color: var(--board-tc);
}

div.boardtitle~a:hover,
div.boardtitle~a:focus {
    border-radius: 0px;
    color: var(--bnw);
    background-color: var(--color2);
}

div.boardtitle~a:last-child,
div.boardtitle~a:last-child:hover,
div.boardtitle~a:last-child:focus {
    border-bottom: 1px solid transparent;
    border-radius: 0px 0px 5px 5px;
}

a.card.disabled {
    cursor: default;
}

a.card.disabled:hover {
    background-color: var(--board-bc);
}

/* --------------------------------------------------------------------------------------------- */

div.about {
    background-color: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

div.about>h5 {
    text-align: center;
    border-bottom: 1px solid var(--color1);
}

/* --------------------------------------------------------------------------------------------- */

div.box.card-header {
    padding: 20px 10px 10px 10px;
    background-color: var(--color4);
    border-bottom: 1px solid var(--color1);
    color: var(--textcolor);
    border-radius: 5px 5px 0px 0px;
}

div.box.card-body {
    background-color: var(--color4);
    padding: 20px;
}

div.box.card-footer {
    padding: 15px;
    background-color: var(--color4);
    border-top: 1px solid var(--color1);
    color: var(--textcolor);
    border-radius: 0px 0px 5px 5px;
}

/* --------------------------------------------------------------------------------------------- */

#KSEInput
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: transparent;
}

#search_icon, #close_icon 
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--color1);
    color: #999;
}

/* --------------------------------------------------------------------------------------------- */

input[type="text"]
{
    border: 1px solid var(--color1);
}

input[type="radio"]+label {
    color: var(--textcolor);
}

input[type="radio"]:checked+label {
    color: var(--textcolor);
}

input[type=radio]:checked,
input[type=radio]:focus {
    background-color: #00b050;
    border: 1px solid #00b050;
    box-shadow: none;
}

.form-check-label {
    padding-left: 5px;
}

.form-control,
.form-control:focus {
    box-shadow: none;
    border-color: var(--color1);
}

option,
.form-select,
.form-select:focus {
    box-shadow: none;
    border: 1px solid var(--color1);
    font-size: 15px;
}

.btn {
    color: var(--textcolor);
    border-color: var(--color1);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.btn:hover,
.btn:focus,
.btn:active {
    border-color: var(--color1);
}

.btn.active.focus,
.btn.focus:active,
.btn.focus,
.btn.active:focus,
.btn:active:focus,
.btn:focus,
.navbar-toggler:focus,
.btn:hover:active {
    border-color: var(--color1);
    outline: 0 !important;
    outline-offset: 0 !important;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

::-moz-placeholder {
    font-size: 14px;
}

::-ms-input-placeholder {
    font-size: 14px;
}

::placeholder {
    font-size: 14px;
}

::-ms-clear {
    display: none;
}

/* --------------------------------------------------------------------------------------------- */

div.footer {
    border-top: 1px solid var(--color1);
    background-color: var(--color2);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 50px;
}

div.col-6>a>div {
    color: var(--sidebar-tc);
    padding: 4px 0px 4px 0px;
    border-bottom: 1px solid var(--color1)
}

div.col-6>h6 {
    color: var(--bnw);
    font-weight: bold;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.btn-close:focus {
    box-shadow: none;
}

i.svgicon {
    font-size: 25px;
    color: var(--svgicon);
}

a>i {
    color: var(--svgicon);
}

a.back-to-top>i.svgicon {
    padding: 8px 10px 8px 10px;
    border-radius: 50px;
    background-color: var(--color4);
    border: 1px solid var(--color1);
}

/* --------------------------------------------------------------------------------------------- */

div.wvnav {
    position: fixed;
    height: 68px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--color1);
    background-color: var(--wvnav);
    padding: 8px;
}

a.wvnav-item>i {
    padding: 3px 20px 3px 20px;
}

a.wvnav-item>div {
    color: var(--bnw);
    font-size: 13px;
}

a.wvnav-item:first-child {
    margin-left: 5px;
}

a.wvnav-item:last-child {
    margin-right: 5px;
}

a.wvnav-item>i.wvsvg {
    font-size: 23px;
}

.wvnav-item-active>i {
    background-color: var(--wvnav-item-active);
    border-radius: 25px;
}

/* --------------------------------------------------------------------------------------------- */